<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.melon.myapp">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme.Application">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/MyTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".functions.wifi.ShowWifiInfoActivity" />
        <activity android:name=".functions.sensor.ShakeOneShakeActivity" />
        <activity android:name=".functions.beacon.ShowBeaconsActivity" />
        <activity android:name=".functions.screen.PhoneDensityActivity" />
        <activity android:name=".functions.ui.ProgressActivity" />
        <activity android:name=".functions.ui.FlowLayoutActivity" />
        <activity android:name=".functions.ui.DrawerLayoutActivity" />
        <activity android:name=".functions.ui.AppActionBarActivity" />
        <activity android:name=".functions.ui.StatusBarActivity" />
        <activity android:name=".functions.ui.PullRefreshActivity" />
        <activity android:name=".functions.ui.NavigationActivity" />
        <activity android:name=".functions.ui.FragmentTabhostActivity" />
        <activity android:name=".functions.ui.FragmentTabHostCustomTitleActivity" />
        <activity android:name=".functions.ui.TabLayoutActivity" />
        <activity android:name=".functions.ui.TabLayoutFragmentActivity" />
        <activity android:name=".functions.ui.ToolbarActivity" />
        <activity android:name=".functions.thirdLogin.TwitterLoginActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="j4Gtw1WpVp80BKz74Kq0nJbkc" />

        <activity android:name=".functions.ui.LikeActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".functions.ui.RecycleViewActivity"></activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>